<h2>My Heroes</h2>
<!--<div>
  <label for="">Hero name:</label>
  <input type="text" #heroName />
  <button (click)="add(heroName.value); heroName.value=''">Add</button>
</div>-->
<div class="row">
  <div class="col-md-2">
    <a routerLink="/hero/add" routerLinkActive="active" class="btn btn-primary">Add</a>
  </div>
  <div class="col-md-6">
    <ul class="list-group">
      <li 
        *ngFor="let hero of heroes" 
        (click)="onSelect(hero)" 
        [class.selected]="hero === selectedHero"
        class="list-group-item">
        <em>{{hero.id}}:</em> {{hero.name}}
        <button class="btn btn-danger btn-sm pull-right" (click)="delete(hero); $event.stopPropagation()">X</button>
      </li>
    </ul>
  </div>
  <div class="col-md-4">
    <div *ngIf="selectedHero">
      <h2>{{ selectedHero.name | uppercase}} is my hero</h2>
      <button (click)="gotoDetail()">View Details</button>
    </div>
  </div>

</div>